@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 240 10% 96.1%; /* #F0F0F0 */
    --foreground: 224 71% 4%;
    --card: 0 0% 100%;
    --card-foreground: 224 71% 4%;
    --popover: 0 0% 100%;
    --popover-foreground: 224 71% 4%;
    --primary: 223 82% 30%; /* #0D378C */
    --primary-foreground: 0 0% 98%;
    --secondary: 0 0% 98%;
    --secondary-foreground: 222.2 47.4% 11.2%;
    --muted: 0 0% 96.1%;
    --muted-foreground: 41 58% 33%; /* #826124 */
    --accent: 211 33% 41%; /* #456B8C */
    --accent-foreground: 0 0% 98%;
    --destructive: 0 96% 46%; /* #F20505 */
    --destructive-foreground: 0 0% 98%;
    --border: 0 0% 89.8%;
    --input: 0 0% 89.8%;
    --ring: 223 82% 30%;
    --radius: 0.5rem;
    --chart-1: 223 82% 30%;
    --chart-2: 211 33% 41%;
    --chart-3: 41 58% 33%;
    --chart-4: 0 96% 46%;
    --chart-5: 173 58% 39%;
    --sidebar-background: 0 0% 98%;
    --sidebar-foreground: 240 5.3% 26.1%;
    --sidebar-primary: 240 5.9% 10%;
    --sidebar-primary-foreground: 0 0% 98%;
    --sidebar-accent: 240 4.8% 95.9%;
    --sidebar-accent-foreground: 240 5.9% 10%;
    --sidebar-border: 220 13% 91%;
    --sidebar-ring: 217.2 91.2% 59.8%;
  }
  .dark {
    --background: 222 47% 11%;
    --foreground: 210 40% 98%;
    --card: 222 47% 15%;
    --card-foreground: 210 40% 98%;
    --popover: 222 47% 11%;
    --popover-foreground: 210 40% 98%;
    --primary: 217 91% 60%;
    --primary-foreground: 222 47% 11%;
    --secondary: 217 33% 17%;
    --secondary-foreground: 210 40% 98%;
    --muted: 217 33% 17%;
    --muted-foreground: 41 40% 60%;
    --accent: 217 33% 25%;
    --accent-foreground: 210 40% 98%;
    --destructive: 0 72% 51%;
    --destructive-foreground: 210 40% 98%;
    --border: 217 33% 17%;
    --input: 217 33% 17%;
    --ring: 217 91% 60%;
    --chart-1: 217 91% 60%;
    --chart-2: 211 53% 71%;
    --chart-3: 41 78% 63%;
    --chart-4: 0 96% 66%;
    --chart-5: 173 58% 59%;
    --sidebar-background: 240 5.9% 10%;
    --sidebar-foreground: 240 4.8% 95.9%;
    --sidebar-primary: 224.3 76.3% 48%;
    --sidebar-primary-foreground: 0 0% 100%;
    --sidebar-accent: 240 3.7% 15.9%;
    --sidebar-accent-foreground: 240 4.8% 95.9%;
    --sidebar-border: 240 3.7% 15.9%;
    --sidebar-ring: 217.2 91.2% 59.8%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
